a {
    color: #ffffff;
}

.imagen-container {
    /* Contexto de posicionamiento */
    position: relative;
    /* Altura fija de el contenedor  */
    height: 713px;
    /* Oculta cualquier parte de la imagen que salga */
    overflow: hidden;
}

.background-img {
    /* Se posiciona respecto al contenedor principal */
    position: absolute;
    /* Pegada arriva */
    top: 0;
    /* Pegada a la izquierda */
    left: 0;
    /* Ocupa todo el ancho */
    width: 100%;
    /* Ocupa toda altura */
    height: 100%;
    /* Capa inferior */
    z-index: 1;
}

.overlay-img {
    position: absolute;
}