* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    /* Color de los links */
    color: #ffffff;
}

.imagen-container {
    /* Contexto de posicionamiento */
    position: relative;
    /* Altura fija de el contenedor  */
    height: 900px;
    /* Oculta cualquier parte de la imagen que salga */
    overflow: hidden;
}

.background-img {
    /* Se posiciona respecto al contenedor principal */
    position: absolute;
    /* Pegada arriva */
    top: 0;
    /* Pegada a la izquierda */
    left: 0;
    /* Ocupa todo el ancho */
    width: 100%;
    /* Ocupa toda altura */
    height: 900px;
    /* Capa inferior */
    z-index: 1;
}

.overlay-img {
    /* Tamaño apsoluto */
    position: absolute;
    /* Organizacion vertical */
    top: 13%;
    /* A la mitad horizontal */
    left: 50%;
    /* Ajuste mas detallado para centar */
    transform: translate(-50%, -50%);
    /* Capa superior */
    z-index: 2;
    /* Tamaño maximo */
    max-width: 600px;
}

.video1 {
    /* Tamaño apsoluto */
    position: absolute;
    /* A la mitad verticalmente */
    top: 50%;
    /* A la mitad horizontal */
    left: 50%;
    /* Ajuste mas detallado para centar */
    transform: translate(-50%, -50%);
    /* Capa superior */
    z-index: 2;
}

.info1 {
    /* Tamaño apsoluto */
    position: absolute;
    /* Letras alineadas al 38% (de arriva hacia abajo) */
    top: 38%;
    /* Letras alineadas al 72% (de izquierda a derecha) */
    left: 72%;
    /* Ajuste mas detallado para centar */
    transform: translate(-50%, -50%);
    /* Capa superior */
    z-index: 2;
    /* Tamaño maximo */
    max-width: 600px;
}

.overlay-img1 {
    /* Tamaño apsoluto */
    position: absolute;
    /* Organizacion vertical */
    top: 65%;
    /* A la mitad horizontal */
    left: 75%;
    /* Ajuste mas detallado para centar */
    transform: translate(-50%, -50%);
    /* Capa superior */
    z-index: 2;
    /* Tamaño maximo */
    max-width: 350px;
}

.carrucel {
    width: 50%;
    position: relative;
}

.sliders {
    display: none;
}

.sliders img {
    width: 100%;
}

.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6 ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    border: solid #fff 2px;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.elementos {
    text-align: center;
}

.quadrate {
    cursor: pointer;
    height: 4px;
    width: 50px;
    margin: 0 2px;
    background-color: #717171;
    display: inline-block;
    transition: background-color 0.6s ease;
    border-radius: 2px;
}